:root{
    --s-color:rgb(1, 229, 229);
}
html {
    scroll-behavior: smooth;
}

.fourth_div{

    margin-bottom: 10%;
    margin-top: 7%;
}
.logos{
    display: flex;
    justify-content: center;
}
.logos a {
    padding: 1% 2%;
    background: #232323;
    margin: 2%;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}
.logos a:hover{
    background: var(--s-color);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.807),
                    0 0 10px var(--s-color);
    }
.logos a:hover >img{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.logos a img{
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    height: 30px ;
    width: 30px;
}
.fourth_div div{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: var(--s-color);
}

form{
    border: 1px solid rgba(255, 255, 255, 0.362);
    display: block;
    padding: 2%;
    background: rgb(28, 28, 28);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
form label {
    font-size: 20px;
    color:white;
}
#btn-email{
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.451) ;
}
form textarea{
    position: relative;
    top: 10px;
    background: rgba(255, 255, 255, 0.299);
    border-radius: 10px;
    box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.431);
    padding:3%;
    height: 30%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    resize: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.message-label{
    position: relative;
    /* top: -10px; */
}
form input {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 3%;
    background: #161616;
    border: none;
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.08);
    height: 10%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 100%;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
textarea::placeholder{
    color: rgba(255, 255, 255, 0.483);
}
#btn{
  
    background: white;
    color: black;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.672);
    font-weight: 800;
    cursor: pointer;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}
#btn:hover{
    background: var(--s-color);
    color: white;
}
.alert{
    display: flex;
    justify-content: center;
}
.alert > div {
    text-align: center;
    display: block;
}
.alert > div > span{
    display: none;
    font-size: 15px;
    color: white;

}