:root{
    --s-color:rgb(1, 229, 229);
}
*{
    scroll-behavior: smooth;
}

body,html{
    scroll-behavior: smooth;
    scroll-padding: 20rem;
    padding: 0;
    margin: 0;
    filter: brightness();
    height: 100%;
    width: 100%;
    background: #000000;
    color: white;
    overflow-x: hidden;
    -webkit-filter: brightness();
}
nav>ul,nav>span{
    display: flex;
    list-style: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    
}
nav>span{
    font-size: 18px;
}
nav>ul>li:hover{
    color: var(--s-color);
    font-size: 18px;
    border-bottom: 3px solid var(--s-color);

}
.last_name{
    color: var(--s-color);
    margin-left: 5px;
}

nav>ul>li{
    transition: all  ease 0.2s;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    width: 30px;
    padding: 20px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.346);
}
nav{
    background-color: rgba(9, 9, 9, 0.924);
    margin: 0;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
nav>.side-nav{
    display: none;
}
.close-side-nav{
    display: none;
}
nav>ul>li>img{
    filter:drop-shadow( 0 0 10px var(--s-color));    
    fill: var(--s-color) ;
    color: white;
    height: 25px;
    
}

.home {
    transition: all ease 0.2s;
}
@media (max-width:450px) {
    .close-side-nav{
        display: flex;
    }
    nav>ul{
        display: block;
        position: fixed;
        top: -2%;
        right: -45%;
        height: 100%;
        background: rgb(18, 18, 18);
        z-index: 22;
        width: calc(35%);
        transition: all ease 0.2s;
        color: var(--s-color);
        
    }
    nav>ul>li{
        border-bottom: 1px solid rgb(255, 255, 255);
        position: relative;
        left: -35%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav>.side-nav{
        
        font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        transform: scale(2);
        display: block;

    }
    #first_div{
        background-image: url(../img/mobile-bg.png);
    }

    
    
}
#first_div{
    height: 648px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10%;
    background-position-x: 80%;
    background-size: 600px;
    background-image: url(../img/2-pexels-mag-photography-1501456-30327285.jpg);

}
.cont{
    position: relative;
    top: 35%;
    left: 20%;
    line-height: 5px;
    text-align: left;
}
#first_div .cont h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    position: relative;
    
}

#first_div > .cont > h2 > span{
    color: var(--s-color);
}
#first_div >.cont> span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
#first_div >.cont > span>span{
    color: var(--s-color);
    font-weight: 600;
}
.cont>p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    height: auto;
    line-height: normal;
    text-align: center;
    position: relative;
    left: -2%;
    margin-top: 2%;
}
.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 7%;
}
.icons > a {
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}
.icons>a:hover{
    scale: 1.2;
    filter: drop-shadow(0 0 5px var(--s-color));
}


#side-insta{
    top: 17%;
}
.side-div{
    transition: all ease 0.3s ;
    -webkit-transition: all ease 0.3s ;
    -moz-transition: all ease 0.3s ;
    -ms-transition: all ease 0.3s ;
    -o-transition: all ease 0.3s ;
    display: flex;
    justify-content: center;
    position: fixed;
    right: -6%;
    top: 10%;
    z-index: 999;
    background: rgba(255, 255, 255, 0.241);
    width: 100px;
    border-left: 8px solid rgba(255, 0, 68, 0.814);
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
}
.side-div:hover{
    right:0;
    border-left: 8px solid var(--s-color);
    cursor: pointer;
}

.side-div img{
    margin: 5%;
}

.device h1{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    text-align: center;
    padding-bottom: 2%;
    border-bottom: red solid 2px;

}
.device div p {
    margin-top: -12px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.device div span{
    font-size: 100px;
    position: relative;
    left: 28%;
    
    
}
.device{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top ,rgb(105, 0, 0),black);
    padding: 5%;
    position: relative;
    height: calc(100%);
    width: calc(100%);

    
}
.skills>div>hr{
    background-image:linear-gradient(80deg, var(--s-color),rgb(116, 216, 255)) ;
}